include /navSection

doctype html
html(lang='en')
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css", integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.main-nav
			block mainNav
				+navSection('Admin',[
					{url: '/', name: 'Home'},
					{url: '/admin/event', name: 'Events'},
					{url: '/admin/event/create', name: 'Create event'},
					{url: '/admin/media', name: 'Media'},
					{url: '/admin/media/create', name: 'Upload media'}
				])

		div
			block content
		div
			block footer
