extends layout

block content
	section.content
		div.contents-header
			div.content-container
				h2 About Us
		div.content-container
			p Like most fund-raising committees, our East Sheen Macmillan Committee is made up of a group of friends all of whom are volunteers. We started fundraising in February 2006 and to date we have raised £250,000. Our philosophy is to arrange a varied programme of entertaining, value-for-money events to raise desperately needed ££££’s to support the essential work of Macmillan Cancer Support. Nationally,we are happy to announce that Macmillan Cancer Support has appointed Linda Thomas to the post of CEO. By 2020, almost one in two people (47%) will get cancer at some point in their lives. We need your help to make sure that people get the support they need to face one of the toughest fights of their lives. However, we are confident that with Lynda leading the team, we have never been better placed to deliver the support and change needed to ensure that no one faces cancer alone.

			p Life with cancer is still life – we’ll help you live it.

			p We find it so fulfilling, because it is such a brilliant cause. We know we make a huge difference to cancer patients lives. However we could not do anything without the loyalty and generosity of all our local supporters. They are the true backbone of our Fund Raising efforts, whether they give money time or effort (in many cases all three!).

			p The committee is comprised of Diana Midmer (chair), Jenny Giles (secretary), David Gray (treasurer), Sara Gray, Judy McMillan and Liz Rawes.
