extends layout

include validation

block content
	h1 #{title}

	+pleaseCorrect()

	form(method='POST' action='')
		div
			div
				label(for='title') Title:
				input#title(type='text', placeholder='' name='title' value=(event ? event.title : '') required='true')
				+errorList(['title'])
			div
				label(for='description') Description:
				textarea#description(placeholder='' name='description' required='true')
					= event ? event.description : ''
				+errorList(['description'])
			div
				label(for='when') When:
				input#when(type='text', placeholder='' name='when' value=(event ? event.when : '') required='true')
				+errorList(['when'])
			div
				label(for='location') Location:
				input#location(type='text', placeholder='' name='location' value=(event ? event.location : '') required='true')
				+errorList(['location'])
			div
				label(for='start') Start:
				input#start(type='date', placeholder='yyyy-mm-dd' name='start' value=(event ? moment(event.start).format('YYYY-MM-DD') : '') required='true')
				+errorList(['start'])
			div
				label(for='end') End:
				input#end(type="date" placeholder='yyyy-mm-dd' name='end' value=(event ? moment(event.end).format('YYYY-MM-DD') : '') required='true')
				+errorList(['end'])
		button(type='submit') Submit
