title Macmillan East Sheen
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name="description" content="Information about upcoming events from the Macmillan East Sheen fundraising committee.")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css", integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap")
link(rel='stylesheet' href='/stylesheets/style.css')
link(rel="shortcut icon" href="/images/favicon.ico")

<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-142344649-1")
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-142344649-1');
