extends layout

block content
	h2 History
	p Our Volunteer Committee started in Feb 2006 under the leadership of our Chair, Diana Midmer. Our fund-raising events programme over the last 12 years includes the following:
	ul
		li 4 sponsored Concerts at the Sheen Lane Centre, in partnership with the Richmond Orchestra, one of which was kindly opened by Philip Glenister and the next by Sir Tim Rice.
		li 12 “THE WORLD’S BIGGEST COFFEE MORNINGS”, with books, home produce, etc…
		li 12 bridge events, either with lunch, tea or supper.
		li 3 Table Top Sales.
		li Numerous History and Art tours and talks.
		li Numerous Marathons, Triathalons, Swimathons, Walks and Iron Men Challenges.
		li Race nights, Quiz nights and Comedy nights.
		li Lunches with guest speakers.
		li Fashion Shows and Fashion Sales.
		li Art exhibitions.
		li A Tea Dance at York House.
		li A Cello Concert.
		li Our National Flag Day Collections.
		li Book loans.
	p AND MUCH MORE……….
