include /navSection

doctype html
html(lang='en')
	head
		block head
			include /head
	body
		header
				nav.nav-section
						span.nav-item
							a(href='/') Home
						span.nav-item
							a(href='/about') About Us
						span.nav-item
							a(href='/history') History
						span.nav-item
							a(href='/thanks') Thanks
						span.nav-item
							a(href='/photos') Photos
				div.header-image-container
					div.image-text
						p Welcome to
						h2 Macmillan East Sheen
					img.header-image(src='/images/head.jpg')
		div.content-container
			section.content
				block content
		footer
			nav
				h3 Friends
				span.nav-item
					a(href='https://www.macmillanchiswick.com') Chiswick
				span.nav-item
					a(href='https://www.macmillanmerton.com') Merton
			nav
				h3 Contact
				span.nav-item
					a(href='mailto:macmillan.sheen@gmail.com') Send us an email
			nav
				h3 Admin
				span.nav-item
					a(href='/admin') Login
