extends layout

block content
	section.content
		div.contents-header
			div.content-container
				h2 Photos
		div.photo-album
			a(href='/images/album/british-residence-paris.jpg')
				div.photo
					img(src='/images/album/british-residence-paris.jpg')
					p The British Residence In Paris
			a(href='/images/album/cup-sale.jpg')
				div.photo
					img(src='/images/album/cup-sale.jpg')
					p Raffle Sale
			a(href='/images/album/walk.jpg')
				div.photo
					img(src='/images/album/walk.jpg')
					p Guided Walk
			a(href='/images/album/tombola.jpg')
				div.photo
					img(src='/images/album/tombola.jpg')
					p Tombola
			a(href='/images/album/guided-walk.jpg')
				div.photo
					img(src='/images/album/guided-walk.jpg')
					p Guided Walk
			a(href='/images/album/sale.jpg')
				div.photo
					img(src='/images/album/sale.jpg')
					p Raffle Sale
