include ../navSection

doctype html
html(lang='en')
	head
		block head
			include /head
	body
		header
			nav.nav-section
				span.nav-item
					a(href='/') Home
				span.nav-item
					a(href='/admin/event') Events
				span.nav-item
					a(href='/admin/event/create') Create event
				span.nav-item
					a(href='/admin/media') Media
				span.nav-item
					a(href='/admin/media/create') Upload media

		section.content
			div.content-container

				block content
		div
			block footer
