extends layout

block append head
	script(type="module" src="/javascript/index.js")

block content
	section.content

		div#app
			div.contents-header
				div.content-container
					h2 Welcome to Macmillan East Sheen
					p Please find our upcoming events below
			section.events
				article.event(v-for="event in events")
					div.content-container
						h2.title {{event.title}}
						p.location {{event.location}}
						p.when {{event.when}}
						img.event-img(v-if="event.image" v-bind:src="`/api/media/${event.image.id}/${event.image.name}`")
						p(v-for="para in event.description") {{para}}
						a.document(v-if="event.document" v-bind:href="`/api/media/${event.document.id}/${event.document.name}`") {{event.document.link_text}}
