extends layout

block content
	section.content
		div.contents-header
			div.content-container
				h2 Thank You Very Much For Supporting Macmillan
		article.content-container
			h3 WORLD’S BIGGEST COFFEE MORNING – 8th Sep. 2018

			p A very big thank you to everyone who helped us with this year’s coffee morning, particularly Tower House School who hosted our annual WBCM this year. Thank you all for publicity, baking, donating, attending, absolutely everything! You may be pleased to know that the event raised approximately £1500 nett which is brilliant.

			h3 A PLAY-IN MUSIC MARATHON WITH RICHMOND ORCHESTRA – 24th Feb.

			p A huge THANK YOU to everyone who played a part in the brilliant Concert Extravaganza, which to date has raised over an amazing £17000 for Macmillan and Richmond Orchestra. The guest soloists and conductors were totally inspiring and all the Richmond Orchestra team (and support staff) played beautifully and did not flag under the demands of the 4 and half hour musical marathon. The Sheen Lane Centre was thronged with happy concert goers and we on the Macmillan East Sheen Committee feel very proud in doing our part to make this event such a triumph. We couldn’t succeed without the unstinting support of all our local volunteers, so a big pat on the back to all of you.

			p A special thank you to Samuel Joslin and the ‘Paddington’ jar of marmalade, G & R Piano Removals and the piano tuner David Oliver who kindly donated their time and services.

			h3 CHRISTMAS CAROL CONCERT – 9th Dec.

			p Very many thanks to RICHARD LYNE for organising another brilliant Carol Service, which raised a wonderful £1300. We were entertained delightfully by the HOWELL SINGERS, Organist JAMES CRYER, SKYLINE BRASS.

			p A big thank you to Abigail Cruttenden who gave excellent readings from John Betjeman and A. A. Milne, which really put us into the Christmas Spirit.

			p A huge thank you to ROUTE ONE Building Consultants for sponsoring the cost of whole event, to James for donating his event fee, Barnard Marcus for printing the concert fliers & programmes and a big thank you to Ruth for brewing the delicious mulled wine.

			h3 EMILY VICTORIA DAY – 8th Dec.

			p A huge thank you to Emily and her lovely staff for holding another Macmillan Day in her Sheen Lane salon. It was a very enjoyable and well supported event and she raised a magnificent £850.

			p Well done Emily!

			h3 FESTIVE CAROL SERVICE – 3rd Dec.

			p A huge thank you to everyone involved in this very enjoyable festive concert, which raised over £1200 for Macmillan. Apart from the delightful performances from The Howells Singers, James Cryer and Skyline Brass, under the brilliant conducting of Richard Lyne, a special mention goes to Anthony Calf for his inspiring readings, Route One Consultancy for covering all the concert costs and Barnard Marcus for printing and distributing fliers. Festive Greetings to you all.

			p With your support we raised a stupendous £37,000 in 2015.

			h3 NULA BOUTIQUE – 19th Oct.

			p Thank’s very much to Nula and Berni at Nula Boutique, for the lovely fundraising day yesterday. I’m delighted to tell you that we raised a total of £400.21 and made a lot of ladies very happy, shopping for gorgeous clothes!!

			p We very much appreciate Nula’s support of the fundraising activities of our local East Sheen Macmillan Committee and will hopefully repeat the day, in the future.

			h3 HISTORICAL WALKS THROUGH HOLBORN – 28th Sep. & 6th Oct.

			p Many heartfelt thanks to AMANDA McKERRACHER for 2 very entertaining walk and talks about High Holborn over the centuries.

			p She brought the street-scene to life and reminded us of the wealth of history in London -and raised a wonderful £610 for Macmillan. We know that Amanda’s guided walks are hugely popular and there is a rumour that she might offer another walk in the Spring 2017, so watch this space.

			p walk

			h3 WORLD’S BIGGEST COFFEE MORNING – 9th Sep.

			p A very big thank you to everyone who helped us with this year’s coffee morning .

			p Thank you for publicity, baking, donating, attending, absolutely everything!

			p You may be pleased to know that the event raised approximately £2050 net which is brilliant.

			p If you were there at 11am you will have seen Dave the caretaker having his head shaved as part of Macmillan’s Brave the Shave fundraising initiative – Dave is undergoing chemotherapy at the moment and it reminded us why we were all there.

			h3 MARKS & SPENCER KEW – 16th Sep.

			p Delighted to tell you that our instore collection raised an amazing £436.35, so I feel our efforts have been well rewarded. Again, many thanks for your help, as it wouldn’t be possible without you and a particular thank you to Sarah Miller at M&S for her support

			h3 Victoria Lunch – 8th Jun.

			p Very many thanks to Claudia Renton, our guest speaker who gave a riveting talk on the ‘Wild Wyndham’ sisters, which was thoroughly enjoyed by all our supporters. Her insight into the sisters (and their mother) and their place in society was fascinating. A perfect mix of fact and humour.

			p We are delighted that the Lunch raised £1000 for Macmillan. Of course, a big thank you to the Victoria and staff for their delicious food and excellent service.

			h3 Garden Plant Sale – 23rd Apr.

			p Many heartfelt thanks to everyone who supported the Macmillan Garden Plant Sale in any way. You helped raise a whopping £5500 which is £2k more than last year!

			p So many of you helped us with publicity – estate agent’s boards, fliers, newsletters, websites, social media etc that without a doubt it was our best advertised event ever.

			p Many of you helped with setting up in advance of the day and/or on the day itself. Others baked, made jams and chutneys, donated plants, books and fresh produce. So many of you came along to support, buy raffle tickets (a record £659!) plants, cakes, Penny’s lovely cards, Lindy’s ceramics – all the proceeds going to Macmillan. Some of you did all of these things!! And of course, a huge thank you to Jan and John Wright for hosting the Plant Sale in their lovely garden and Liz Wall and Lauri Rayner for their inspiration and great hard work.

			h3 EMILY VICTORIA BEAUTY SALON, 71 Sheen Lane, SW14 8AD – Thurs. 10th Dec.

			p Many thanks to Emily for hosting a successful fundraising day which raised over £400, absolutely wonderful! Thank you Emily, Amy and everyone else who baked, donated and helped on the day.

			h3 MISTLETOE & HOLLY SALE – Tower House School – 12th Dec.

			p Thanks to everyone who helped on Saturday morning to start the festive cheer with our sale of holly and mistletoe which raised nearly £440. Many thanks to Sara for organising the event so well.

			p CAROL CONCERT by THE HOWELLS SINGERS – ALL SAINTS CHURCH, East Sheen Avenue – Sat. 12th Dec.

			p A huge thank you to Richard Lyne and the Howells Singers, James Cryer and Skyline Brass for entertaining us so beautifully with a marvelous carol concert which raised £1,250. Their rendition of “While Shepherds Watched” to the tune of “On Ilkla Moor Baht ‘at” was most entertaining. Thank you to all who came and donated so generously.

			h3 New York City Marathon 1st Nov 2015 – Team Giles

			p The Giles family have resurfaced after a momentous trip to New York. The family’s marathon race day was totally amazing – from its’ 06:00 start at their coach pick up point, to the 3 mile walk back from the finish line to their hotels; naturally followed by a blur of celebration. The entire team completed the course in times ranging from from 4hrs 24 mins to 6hrs 24 mins.

			p At the time of writing they have raised (including Gift Aid) a figure of over £17,000 for Macmillan Cancer relief, which is beyond our wildest hopes and dreams. Thank you very much for your support, which has definitely carried them through the hard months training.
